{% extends 'base.html.twig' %}

{% block title %}Edit Langage{% endblock %}

{% block body %}
    <h1>Edit Langage</h1>

    {{ include('langage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_langage_index') }}">back to list</a>

    {{ include('langage/_delete_form.html.twig') }}
{% endblock %}
